@charset "UTF-8";

#tdl-tasks {
	border: 1px solid #008800;
	margin-top: 30px;
	width: 50%;
}

#tdl-tasks h3 {
	text-align: center;
}

#tdl-tasks ol .sp_buttons {
	display: inline-block;
	width: 50%;
	float: right;
	position: relative;
	text-align: right;
	padding-right: 5px;
}

#tdl-tasks ol .sp_buttons a {
	padding: 0 10px;
}

#tdl-tasks ol {
	font-size: 14px;
	color: green;	
}

#tdl-tasks li div {
	display: none; 
	position: relative;
	border: 1px solid #000000; 
	background-color: #c0c0c0;  
	width: 600px;
	height: auto;
	padding: 10px;
}

#tdl-tasks li {
	cursor: pointer;
}

#addTaskForm, #addTaskLable {
	margin: 15px;
} 

#addTaskForm {
	display: none;
}

#addTaskLable {
	text-decoration: underline;
	color: #0000ff;
	cursor: pointer;
}